:root{
    --primary-color: #212121;
    --secondary-color: #6D9886;
    --tertiary-color: #D9CAB3;
    --quaternary-color: #F6F6F6;
    --orangepurple-color: 45deg, hsla(0, 0%, 100%, 1) 0%, hsla(18, 100%, 78%, 1) 41%,
         hsla(268, 100%, 24%, 1) 100%, hsla(268, 100%, 58%, 1) 100%;
}

body
{
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: var(--quaternary-color);
    font-size: 12pt;
    background-color: black;
}
html, body {
    max-width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* id's */
#contact-form-container{
    display: block;
    position: relative;
    width: 90%;
    min-height: 400px;
    max-width: 1000px;
}
#about-text{
    font-size: 18px; 
}
#about-container{
    width:90%;
    max-width: 1000px;
    min-width: 500px;
    min-height: 700px;
}
/* classes */

.center{
    margin-left: auto;
    margin-right: auto;
}
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1px;
    max-width: 90%;
    /*debug-box*/
    /* border: 1px solid white; */
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}
.col-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1px;
}

.name {
    margin: 0px;
    font-size: 80px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    /* from coloors.co */
    background-image: linear-gradient(var(--orangepurple-color));
    background-size: 500%;
    animation: color-change 5s infinite alternate-reverse;
}
.name-sm {
    margin: 0px;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    /* from coloors.co */
    background-image: linear-gradient(var(--orangepurple-color));
    background-size: 500%;
    animation: color-change 5s infinite alternate-reverse;
}
.link {
    font-size: 31px;
    color: var(--quaternary-color);
}
.link:hover{
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(var(--orangepurple-color));
    background-size: 500%;
    animation: color-change 1s infinite alternate-reverse;
}
.link-sm {
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(var(--orangepurple-color));
    background-size: 500%;
    animation: color-change 2s infinite alternate-reverse;
}
.card {
    box-shadow: 0 4px 8px 0 var(--primary-color);
}
.flex-img {
    align-self: center;
    transition: .3s;
}
.flex-img:hover {
    transform: scale(.8);
}
/*animated background styles*/
.interest-container{
    position:absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    animation: full-slide 25s linear infinite;
}
.interest-container2{
    animation-delay: 5s;
    animation: full-slide 15s linear infinite;
}
.interest-container2 .interest-holder{
    height: 10px;
    filter: blur(2px);
}
.interest-holder{
    position: absolute;
    top: 50%;
    height: 4px;
    width: 5%;
    background:linear-gradient(45deg, black 0%, hsla(268, 100%, 24%, 1) 60%, hsla(268, 100%, 58%, 1) 100%);
    border-radius: 999px;
    filter: blur(4px);
}
.interest-holder:nth-child(1){
    top: 45%; 
    left: 52%;
}
.interest-holder:nth-child(2){
    top: 10%; 
    left: 29%;
}
.interest-holder:nth-child(3){
    top: 18%; 
    left: 52%;
}
.interest-holder:nth-child(4){
    top: 38%;
    left: 43%;
}
.interest-holder:nth-child(5){
    top: 65%;
    left: 95%;
}
.interest-holder:nth-child(6){
    top: 15%;
    left: 38%;
}
.interest-holder:nth-child(7){
    top: 80%; 
    left: 65%;
}
.interest-holder:nth-child(8){
    top: 58%;
    left: 80%;
}
.interest-holder:nth-child(9){
    top: 8%;
    left: 90%;
}

.interest-holder .interest-holder2:nth-child(1){
    top: 35%; 
    left: 35%;
}
.interest-holder .interest-holder2:nth-child(2){
    top: 10%; 
    left: 34%;
}
.interest-holder .interest-holder2:nth-child(3){
    top: 18%; 
    left: 32%;
}
.interest-holder .interest-holder2:nth-child(4){
    top: 48%;
    left: 33%;
}
.interest-holder .interest-holder2:nth-child(5){
    top: 65%;
    left: 90%;
}
.interest-holder .interest-holder2:nth-child(6){
    top: 23%;
    left: 38%;
}
.interest-holder .interest-holder2:nth-child(7){
    top: 73%; 
    left: 45%;
}
.interest-holder .interest-holder2:nth-child(8){
    top: 53%;
    left: 80%;
}
.interest-holder .interest-holder2:nth-child(9){
    top: 11%;
    left: 95%;
}

/*Contact Form*/
.form-input{
    margin-bottom: 5px;
    height: 35px;
    width: 95%;
    border-radius: 5px;
}
.form-tag{
    margin-bottom: 5px;
}
.form-tag::after {
    content: "*";
    color: red;
}
.form-textarea{
    height:100px;
    resize: none;
}
.btn{
    height:30px;
    width:100px;
    margin-left:0;
    border-radius: 5px;
    color: var(--quaternary-color);
    background: black;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid white;
}
.btn:hover{
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    /* from coloors.co */
    background-image: linear-gradient(var(--orangepurple-color));
    background-size: 500%;
    animation: color-change 3s infinite alternate-reverse;
}

/*animations*/
@keyframes color-change {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes full-slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(110%);
    }
}
@media only screen and (max-width: 600px) {
    .name {
        margin: 0px;
        font-size: 72px;
        text-transform: uppercase;
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
        /* from coloors.co */
        background-image: linear-gradient(var(--orangepurple-color));
        background-size: 500%;
        animation: color-change 5s infinite alternate-reverse;
    }
}